---
layout: default
title: Home
---

<img class="profile-img" src="https://0ak.hu/WebsitePicture.jpg" alt="Oak Hu">

Welcome! My name is Oak.{% include sidenote.html content = "Well, [technically](https://offhandquibbles.substack.com/p/quotes-and-quinean-quasi-quotes-quickly), my name is ‘Oak Hu’ (a five-letter string), while _I'm_ Oak Hu (the person to whom ‘Oak Hu’ refers); but it’s almost always fine to be sloppy. My parents named me ‘Oak’ after Oklahoma State University, where they went for graduate school. My last name, ‘Hu’, is from the Chinese {% include cjk.html text="胡" %}; appending {% include cjk.html text="说" %} (‘speak’) yields % include cjk.html text="胡说" %} (‘nonsense’)—naturally, someone named ‘Oak Hu’ does philosophy."%}

I do math & philosophy—the two armchair disciplines—at Magdalen College, Oxford.

My main interests are in the subfields of philosophy where you find λ-terms: the formal semantics of natural language, and the application of higher-order logic to metaphysics.
