<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>{{ page.title }} | Oak Hu</title>
</head>
<body>
    <header class="site-nav">
        <a href="/" class="nav-item">0ak.hu</a>
        <a href="/about/" class="nav-item">About</a>
        <a href="/cv/" class="nav-item">CV</a>
        <a href="/writing/" class="nav-item">Writing</a>
        <!--<a href="/gallery/" class="nav-item">Gallery</a>-->
    </header>

    <main class="glass-card">
        {{ content }}
    </main>

    <script src="/assets/js/scripts.js"></script>
</body>
</html>
